<footer class="footer">
  <div class="footer__menu">
    <ul class="footer__menu-list">

    </ul>
  </div>
</footer>
<div class="scroll-up" onclick="scrollUp()">
  <button class="scroll-up__btn">
    <img class="scroll-up__btn-icon" src="/images/up.png">
  </button>
</div>
<div class="popup-container"></div>
