<div class="theme-switcher">
  <p class="theme-switcher__text">Темная тема</p>
  <div class="theme-switcher__box">
    <input type="checkbox" id="theme-switcher-input">
    <label for="theme-switcher-input"></label>
  </div>
</div>
<header class="header">
  <a class="header__logo" href="/gsm-market/index.html">
    <h1 class="header__logo-text">GSM-Market</h1>
    <div class="header__logo-bg">
      <img class="header__logo-img" src="/images/logo.svg" alt="logo">
    </div>
  </a>
  <div class="header__menu">
    <ul class="header__menu-list">

    </ul>
    <div class="header__burger-menu">
      <i class="header__burger-menu-icon fa fa-bars"></i>
    </div>
  </div>
</header>
