<div class="order-popup popup">
  <h2 class="order-popup__title">Заполните все поля</h2>
  <form class="order-popup__form">
    <div class="order-popup__counter"> Укажите колличество:
      <button class="order-popup__counter-minus"> - </button>
      <input class="order-popup__counter-input" name="count" type="text" value="1" readonly="readonly">
      <button class="order-popup__counter-plus"> + </button>
    </div>
    <div class="order-popup__color-picker"> Выберите цвет:
      <label class="order-popup__color-btn red">
        <input type="radio" name="color" value="red">
        <span>Провакационно красный</span>
      </label>
      <label class="order-popup__color-btn blue">
        <input type="radio" name="color" value="blue">
        <span>Благородный синий</span>
      </label>
      <label class="order-popup__color-btn black">
        <input type="radio" name="color" value="black">
        <span>Премиальный черный</span>
      </label>
      <label class="order-popup__color-btn gray">
        <input type="radio" name="color" value="gray">
        <span>Классический серый</span>
      </label>
    </div>
    <div class="order-popup__comment">
      <p class="order-popup__comment-title">Комментарий:</p>
      <textarea class="order-popup__comment-text" name="comment" rows="6" placeholder="Введите текст" maxlength="2000"></textarea>
    </div>
    <div class="order-popup__buttons">
      <button class="order-popup__button-close" onclick="closePopup()"> Закрыть </button>
      <button class="order-popup__button-buy" type="submit" onclick="orderSuccess()"> Купить </button>
    </div>
  </form>
  <div class="order-popup__closeBtn" onclick="closePopup()"></div>
</div>
<div class="modal-backdrop"></div>
